
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  background: coral;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.box {
  height: 70px;
  width: 120px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid;
}
.box p {
  color: coral;
  font-weight: 700;
}
#space{
  margin-left: 10px;
}
.cont {
  height: 400px;
  width: 300px;
  background: yellow;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  height: 40px;
  width: 70px;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 1.4em;
}
.sum {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#result {
  font-size: 80px;
  color: crimson;
  display: none;
}
.button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 120px;
}

.button:hover {
  background-color: #fff;
}

.button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}